#service {
    padding-top: 120px;
    padding-bottom: 90px;
}

.service-card {
    position: relative;
    padding: 40px;
    border: 1px solid #ecf0f6;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: white;
    user-select: none;
    -webkit-user-select: none;
    &:hover {
        background-color: #0E5AF2;
        .service-card-bg-img {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            z-index: 1;

        }
        .service-card-img {
            background-color: white !important;
            display: block;
        }
        p, .service-card-h3 a {
            color: white;
            z-index: 3;
        }
        .service-btn {       
            color: white !important;
        }
    }

    p {
        font-family: $font-fira;
        font-weight: 400;
        color: #878D97;
        position: relative;
    }

    .service-card-bg-img {
        opacity: 0;
        visibility: hidden;
        background-image: url('https://themeforest.vecuro.com/html/techbiz/demo/assets/img/bg/sr-box-bg-1.jpg');
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transition: all ease 0.4s;
        z-index: -1;
    }

    .service-card-img {
        height: 70px;
        width: 70px;
        line-height: 70px;
        border-radius: 50%;
        text-align: center;
        background-color: #EFF1F5;
        margin-bottom: 28px;
        z-index: 1 !important;
        position: relative;

        img {
            display: inline !important;
            width: fit-content !important;
            z-index: 10;
        }

        .service-card-number {
            line-height: 1;
            color: rgba(14,89,242,.1);
            font-size: 60px;
            font-weight: 700;
            font-family: $font-exo;
            margin-top: 4px;
            opacity: 1;
            visibility: visible;
            position: absolute;
            left: 300%;
        }
    }

    .service-card-h3 {
        font-size: 24px;
        font-family: $font-exo;
        font-weight: 700;
        margin-bottom: 15px;
        z-index: 5;
        position: relative;
        a {
            color: black;
        }
    }

    .service-btn {
        text-transform: uppercase !important;
        font-size: 16px !important;
        font-family: $font-fira;
        font-weight: 500 !important;
        padding: 12px 0.5px !important;
        transition: all color 0.3s ease !important;
        border: none !important;
        outline: 0 !important;
        background-color: transparent !important;
        color: #0E5AF2 !important;
        z-index: 5 !important;
        position: relative !important;
    
        .fa-arrow-right::before {
            content: '\f061';
            display: block;  
            font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands' !important;
            font-weight: 800 !important;       
            font-size: 14px;
        }
    }
}

